<!--<%@ page contentType="text/html; charset=UTF-8" pageEncoding="UTF-8" %>
-->
<html>
<head>
    <meta charset="UTF-8">
    <title>Spring MVC</title>
    <link rel="stylesheet" href="/styles/css/style.css" />
</head>
<body>
<h1>Spring MVC: Работа с ползователями</h1>
<br>
<hr>
<br>
<div class="container">
    <div>
        <a href="/users">Все пользователи</a>
    </div>
    <br>
    <div>
        <a href="/users/new">Новый пользователь</a>
    </div>
    <br>
    <div>
        <a href="/find">Найти пользователя</a>
    </div>
</div>
<br>
<hr>

</body>
</html>

